

<div  class="row distan" *ngFor="let element of productoitems | paginate: { itemsPerPage: 20, currentPage: p }"> 
    
 
      <div class="col-md-4" *ngFor="let item of element" >
    
        <div class="card testimonial-card" > 

          <!-- Background color -->
          <div class="card-up indigo lighten-1"></div>
        
          <!-- Avatar -->
          <div class="avatar mx-auto white">
            <img src="{{item.img}}" class="rounded-circle"
              alt="woman avatar">
          </div>
        
          <!-- Content -->
          <div class="card-body">
            <!-- Name -->
            <h4 class="card-title">{{item.Nombre}} {{item.IdProducto}}</h4>
            <hr>
            <!-- Quotation -->
            <p> {{item.Descripcion}} 
              <button  (click)="detallesProducto()" class="btn btn-info">Detalle</button>
            </p>
          </div>
        
        </div>
        <!-- Card -->

    </div>
    </div>


<pagination-controls (pageChange)="p =$event"></pagination-controls>





